extends layout

block content
  h1= title
  p Welcome to #{title}
  form#form
    input(type="text" placeholder='name')#name
    input(type="text" placeholder='password')#password
    input(type="submit" )#submit
    input(type="submit" value='New_promise_hello/promise')#New_promise_hello
    input(type="submit" value='serch')#serch
    input(type="submit" value='mongoDB')#mongoDB
    